/*
*
*
* @author Lucas Araujo
* @version 0.1
*/

/* ========================= layout ============= */
/* Para ocupar 100% do espaço */
html, body, .capa {
	height: 100%;
}
/* Colocando as imagens de fundo */
body {
	font-family: Helvetica, Arial,  sans-serif;
	background: url('imagens/capa.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed; /*deixa o background parado, */
	/* Overflow hidden, serve para tirar a barra de rolagem, horizontalmente ou verticalmente */
	overflow-x: hidden;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 40px;
	width: 132px;
	display: block;
	background:url('imagens/spotify.svg') no-repeat;
	background-size: contain; /*para definir tamnho da imagem de fundo */
	color: transparent; /*sempre teremos q deixar o texto e a imagem, para leitores de tela */
	
}
/*Deixando a barra transparente*/
nav.navbar-transparente {
	padding: 15px 0px;
	background:rgba(0,0,0, 0.6);
	border:none;
}
/*Formantando a posição da logo*/
.navbar-brand {
	padding: 5px 15px;
}
/*Criando aquele divisor entre o "Baixar" e o "Inscreva-se" */
.divisor {
	width: 1px;
	height: 16px;
	background:white;
	margin: 16px 10px;
}

/*Formatando links*/
.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	/* Tira qualquer background que tenha */
	background:none;
}

/* Imagem de capa */
.capa {
	display:table; /*um dos passos para centralizar verticalmente nossa capa, deixa o comportamento como de tablea*/
	width: 100%;
}
.texto-capa {
	text-align: center;
	color: white;
	display:table-cell;
	vertical-align: middle;
}

/* Confirando os botões */
.btn-custom {
	color: white;
	border-radius: 500px;
	/* Colocando para funcionar em outros browsers o radius */
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	padding:10px 35px;
	margin: 0px 15px;
	text-transform: uppercase; /*Deixar as letras maiúsculas*/
	transition: background 0.4s, color 0.4s; /*para deixar uma transição mais suave ao passar o cursor */
}
.btn-roxo {
	background:#7c25f8;
}
.btn-roxo:hover {
	background-color: #6207e3;
	color: white;
}
.btn-branco:hover {
	background-color: white;
	color:black;
}
.btn-branco {
	border:2px solid white;
}

/* ---------------- SEÇÃO SERVIÇOS ---------------*/
#servicos {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.albuns {
	padding: 10px 0px 10px 0px;
}

/* ----------- Recursos ---------- */

#recursos {
	padding-top:20px;
	padding-bottom:20px;
	color: white;
}

.rotacionar {
	/* Para rotacionar a foto dos iphones. */
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /*IE9 */
	-webkit-transform: rotate(30deg); /*Chrome, Safari, Opera */
	padding-left: 80px;;
}	

/* ------------------- RODAPE ------------------ */
footer {
	background: #000;
	padding:50px 0px 20px 0px; 
	/* Esse position relative vai deixar em cima da imagem dos iphones */
	position: relative;
}

.item-rede-social {
	float:right;
}

/* =================================== Tipografia ========================*/
h1 {
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em; /*espaçamento das letras */
	margin-bottom: 50px;
}
h2 {
	font-size: 47px;
	font-weight: 700; /*especifica o peso ou a intensidade da fonte*/
	letter-spacing: -0.04em;
}
h3 {
	font-size:35px;
	font-weight: 700; /*especifica o peso ou a intensidade da fonte*/
	letter-spacing: -0.04em;
}

#servicos h2, #servicos h3 {
	color: #7C25F8;
}
#recursos h3 {
	color:#9bf0e1;
}
#recursos h1 {
	font-size: 70px;;;
	color:white;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4 {
	color:#919496;
	font-size:12px;
	/* deixar em maíusculo */
	text-transform: uppercase;
}
